<section>
    <a href="/dashboard" class="is-pulled-right">  Back to Dashboard</a>
  <h2 class="title">Create a new blog here!</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Topic:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Title"/>
    </div>
    <div>
      <label for="post-content">Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="Description"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">Submit</button>
  </form>
</section>

<script src="/js/add-post.js"></script>