
{{> post-info post}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="ml-5" name="comment-body"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5" type="submit">Add a Comment</button>
  </div>
  
</form>
{{/if}}

{{> comments post.Comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}